<script type="text/javascript">
var msj = "<%= notice %>";
  $(document).ready(function() {
  if(msj!='')
    swal(msj, "", "success")

});
</script>

<h1 class="text-center"> <span class="label label-default">Agregar productos al laboratorio: <%= @lab.nombre %></span></h1><br>

<div class="col-lg-3 col-md-3 col-xs-4 col-sm-4 col-md-offset-1 col-lg-offset-1">
   <input type="text" class="form-control"  placeholder="Nombre producto" name="nombre" id="nombre">
   <input type="hidden" class="form-control"  placeholder="Nombre"  id="laboratorio" value="<%= @lab.id %>">
  </div>
 <div class="col-lg-2 col-md-2 col-xs-3 col-sm-3">
  <button type="submit" class="btn btn-success" onclick="busquedaProfars();"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar</button>
  </div>
<div class="col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1  col-xs-12 col-sm-12">

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Sustancia</th>
      <th>Presentacion</th>     
      <th>Laboratorio</th>
      <th>Plan paciente</th>
       <th>Oferta</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td width="15%"><%= producto.nombre %></td>
        <td width="15%"><%= producto.sustancium.descripcion %></td>
        <td width="15%"><%= producto.presentacion.descripcion %></td>       
        <td width="15%"><%= producto.laboratorio.nombre %></td>
        <% if producto.plan_paciente != nil %> 
           <td width="15%"><%= producto.plan_paciente.nombre %></td>
           <td width="11%"><%= producto.compra %> + <%= producto.oferta %></td>
         <% else producto.plan_paciente != nil %> 
           <td width="15%"></td>
           <td width="11%"></td>
        <% end %>
        
        
        <td width="35%">
         <button type="button" class="btn btn-success" onclick="Seleccion_Articulo(<%= producto.id %>,<%= producto.laboratorio.id %>)" data-toggle="modal" data-target="#exampleModalLong"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Añadir Producto</button>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-footer">
         <%= bootstrap_form_for(@pro_far) do |f| %>
            <div class="field">
              <%= f.collection_select :disponibilidad_id, Disponibilidad.all, :id, :nombre %>
               <%= f.hidden_field :producto_id %>
               <%= f.hidden_field :farmacium_id %>
            </div>
             <div class="actions">
              <input type="submit" name="commit" value="Añadir Producto" class="btn btn-success" />
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>