<script type="text/javascript">
var msj = "<%= notice %>";
  $(document).ready(function() {
  if(msj!='')
    swal(msj, "", "success")

});
</script>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Reportar Pago laboratorios</button>

 <% if  @cant_lab.cant_lab == 0 %> 
<h3> <span class="label label-default">Debes depositar al número cuenta 001-1966504-0 para obtener mas laboratorios.</span></h3>
<h3> <span class="label label-default">Cada laboratorio tiene un costo de ₡5000</span></h3>
<% else  %> 
<h1 class="text-center"> <span class="label label-default">Laboratorios disponibles: <%= @cant_lab.cant_lab %></span></h1>
<% end %>
<h1 class="text-center"> <span class="label label-default">Lista de  Laboratorios disponibles</span></h1>
<br>

  <div class="col-lg-3 col-md-3 col-xs-4 col-sm-4 col-md-offset-2 col-lg-offset-2">
   <input type="text" class="form-control"  placeholder="Nombre" name="nombre" id="nombre">
  </div>
 <div class="col-lg-2 col-md-2 col-xs-3 col-sm-3">
  <button type="submit" class="btn btn-success" onclick="busquedaLabsFar();"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar</button>
  </div>
<div class="col-lg-8 col-md-8 col-md-offset-2 col-lg-offset-2  col-xs-12 col-sm-12">
<table class="table table-striped table-condensed"">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>
  
  <tbody>
  
   <% @laboratorios.each do |laboratorio| %>
      <tr id="<%= laboratorio.id %>">
        <td width="25%"><%= laboratorio.nombre %></td>
        <td width="30%"><%= laboratorio.descripcion %></td>
        <td width="3%">
          <a href="/lab_fars/<%= laboratorio.id %>" class="btn btn-success">
         <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Añadir laboratorio
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>



 <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><span class="label label-default">Reporte pago Laboratorios</span></h4>
        </div>
        <div class="modal-body">
           <%= bootstrap_form_for(@pago) do |f| %>
            <div class="field">
              <%= f.number_field :numcomprobante , label: "Número de comprobante" %>
            </div>
             <div class="actions">
              <input type="submit" name="commit" value="Enviar Comprobante" class="btn btn-success" />
              
            </div>
          <% end %>
        </div>
       
      </div>
    </div>
  </div>
</div>
 