<p id="notice"><%= notice %></p>

<p>
  <strong>Farmacia:</strong>
  <%= @pago.farmacia %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @pago.monto %>
</p>

<p>
  <strong>Numcomprobante:</strong>
  <%= @pago.numcomprobante %>
</p>

<p>
  <strong>Cantlab:</strong>
  <%= @pago.cantLab %>
</p>

<%= link_to 'Edit', edit_pago_path(@pago) %> |
<%= link_to 'Back', pagos_path %>
