
<%= bootstrap_form_for(@farmacium) do |f| %>
  
<div class="col-md-8 col-md-offset-2  col-xs-12 col-sm-10">
  <div class="field">
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.text_field :cedulaJur %>
  </div>
  <div class="field">
    <%= f.text_field :sucursal %>
  </div>
  <div class="field">
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.text_field :correo %>
  </div>
  <div class="field">
    <%= f.number_field :telefono1 %>
  </div>
  <div class="field">
    <%= f.number_field :telefono2 %>
  </div>
 
  <div class="field">
    <%= f.file_field :photo , id: 'pictureInput' %>
     </div><div id="target" >
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
</div>
