<script type="text/javascript">
var msj = "<%= notice %>";
  $(document).ready(function() {
     $("[name='my-checkbox']").bootstrapSwitch();
      $("[name='my-checkbox']").on('switchChange.bootstrapSwitch', function (event, state) {
        
    id = $(this).attr('id');
    var aler = updatefarmacia(id, state); 
      
});
  if(msj!='')
    swal(msj, "", "success")

});
</script>

<h1 class="text-center">Lista de Farmacias por verificar</h1>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cedula Jurídica</th>
      <th>Sucursal</th>
      <th>Direccion</th>
      <th>Correo</th>
      <th>Telefono1</th>
      <th>Telefono2</th>
      <th>Verificado</th>
    </tr>
  </thead>

  <tbody>
    <% @farmacia.each do |farmacium| %>
      <tr>
        <td><%= farmacium.nombre %></td>
        <td><%= farmacium.cedulaJur %></td>
        <td><%= farmacium.sucursal %></td>
        <td><%= farmacium.direccion %></td>
        <td><%= farmacium.correo %></td>
        <td><%= farmacium.telefono1 %></td>
        <td><%= farmacium.telefono2 %></td>
        <td> <% if farmacium.verificado == true %> 
             <input type="checkbox" id="<%= farmacium.id %>" name="my-checkbox" checked  data-on-text="Verificada" data-off-text="No Verificada" data-on-color="success" data-off-color="danger">
         <% else %> 
            <input type="checkbox" id="<%= farmacium.id %>" name="my-checkbox"  data-on-text="Verificada" data-off-text="No Verificada" data-on-color="success" data-off-color="danger">
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="col-lg-8 col-md-8 col-md-offset-4 col-lg-offset-4 col-xs-offset-4 col-sm-offset-4 col-xs-8 col-sm-8 paginate" >
        <%= will_paginate @productos, renderer: BootstrapPagination::Rails %>
    </div>


