<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @farmacium.nombre %>
</p>

<p>
  <strong>Cedulajur:</strong>
  <%= @farmacium.cedulaJur %>
</p>

<p>
  <strong>Sucursal:</strong>
  <%= @farmacium.sucursal %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @farmacium.direccion %>
</p>
<style>
  .img {
   height: 200px;
    width: 200px;
}
</style>

<p>
  <strong>Correo:</strong>
  <%= @farmacium.correo %>
</p>

<p>
  <strong>Telefono1:</strong>
  <%= @farmacium.telefono1 %>
</p>

<p>
  <strong>Telefono2:</strong>
  <%= @farmacium.telefono2 %>
</p>
<%= image_tag @farmacium.photo.url , :class => "img"%>

<%= link_to 'Edit', edit_farmacium_path(@farmacium) %> |
<%= link_to 'Back', farmacia_path %>
