<p id="notice"><%= notice %></p>

<h1>Listing Plan Pacientes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Laboratorio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plan_pacientes.each do |plan_paciente| %>
      <tr>
        <td><%= plan_paciente.nombre %></td>
        <td><%= plan_paciente.laboratorio %></td>
        <td><%= link_to 'Show', plan_paciente %></td>
        <td><%= link_to 'Edit', edit_plan_paciente_path(plan_paciente) %></td>
        <td><%= link_to 'Destroy', plan_paciente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plan paciente', new_plan_paciente_path %>
