<%= form_for(@presentacion) do |f| %>
  <% if @presentacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@presentacion.errors.count, "error") %> prohibited this presentacion from being saved:</h2>

      <ul>
      <% @presentacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
