<p id="notice"><%= notice %></p>

<h1 class="text-center">Lista de  Laboratorios</h1>
<div class="col-md-6 col-md-offset-3  col-xs-12 col-sm-10">
<table class="table table-striped table-condensed"">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @laboratorios.each do |laboratorio| %>
      <tr id="<%= laboratorio.id %>">
        <td><%= laboratorio.nombre %></td>
        <td><%= laboratorio.descripcion %></td>
        <td><%= link_to 'Mostrar', laboratorio, :class => "btn btn-info" %>
        <%= link_to 'Editar', edit_laboratorio_path(laboratorio), :class => "btn btn-success" %>
        <button class="btn btn-danger" onclick="delete_laboratorio(<%= laboratorio.id %>)">Eliminar</button></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<div class="col-md-6 col-md-offset-4  col-xs-12 col-sm-10">
<%= link_to 'New Laboratorio', new_laboratorio_path %>
</div>
