<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :sustancia_id %><br>
    <%= f.text_field :sustancia_id %>
  </div>
  <div class="field">
    <%= f.label :presentacion_id %><br>
    <%= f.text_field :presentacion_id %>
  </div>
  <div class="field">
    <%= f.label :oferta %><br>
    <%= f.text_field :oferta %>
  </div>
  <div class="field">
    <%= f.label :laboratorio_id %><br>
    <%= f.text_field :laboratorio_id %>
  </div>
  <div class="field">
    <%= f.label :plan_paciente_id %><br>
    <%= f.text_field :plan_paciente_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
