<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>

<p>
  <strong>Sustancia:</strong>
  <%= @producto.sustancium.descripcion
 %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @producto.presentacion.descripcion %>
</p>

<p>
  <strong>Oferta:</strong>
  <%= @producto.oferta %>
</p>

<p>
  <strong>Laboratorio:</strong>
  <%= @producto.laboratorio.descripcion %>
</p>

<p>
  <strong>Plan paciente:</strong>
  <%= @producto.plan_paciente.nombre %>
</p>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
