<!DOCTYPE html>
<html>
<head>
  <title>AppMedicamentos</title>

  
  

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    
</head>

<% if current_user %>
	<% if current_user.correo == 'ADMIN' %>
	<nav class="navbar navbar-default" style="background-color: #D5D2CA">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/laboratorios">Laboratorios</a>
      <a class="navbar-brand" href="/plan_pacientes">Plan Pacientes</a>
      <a class="navbar-brand" href="/presentacions">Presentaciones</a>
      <a class="navbar-brand" href="/sustancia">Sustancias</a>
      <a class="navbar-brand" href="/productos">Productos</a>
      
      <a class="navbar-brand" href="/disponibilidads">Disponibilidades</a>
      <div class="btn-group">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Farmacias <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <a class="navbar-brand" href="/farmacia">Verificar</a>
    <a class="navbar-brand" href="/farmacias_verificadas">Verificadas</a>
  </ul>
</div>
      
      <a class="navbar-brand" href="/"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.nombre %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li><a href="/change_password">Cambiar Contraseña</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<% else %>
	<nav class="navbar navbar-default" style="background-color: #D5D2CA">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/lab_fars">Añadir laboratorios</a>
      <a class="navbar-brand" href="/lab_farmacia">Laboratorios añadidos</a>
      
      <a class="navbar-brand" href="/"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      <ul class="nav navbar-nav navbar-right">
        <li><%= image_tag current_user.photo.url , :class => "img img-circle"%></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.nombre %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/farmacia/<%= current_user.id %>/edit">Configurar Cuenta</a></li>
            <li><a href="/change_password">Cambiar Contraseña</a></li>
            
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<% end %>

<% end %>

<%= yield %>

</body>
</html>


